<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestRun" parallel="methods" thread-count="3">
	<test name="uiTests">
		<classes>
			<class name="com.ui.test.UITestScenarios">
				<methods>
					<exclude name="visitAmazonSiteTest" />
				</methods>
			</class>
		</classes>
		<groups>
			<run>
				<include name="regression" />
			</run>
		</groups>
	</test>
</suite>